@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <form method="post" asp-controller="account" asp-action="logout">
            <button type="submit" style="width:auto" class="nav-link btn btn-link py-0">
                <i class="fa-solid fa-right-to-bracket me-1"></i>
                Logout @User.Identity.Name
            </button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-primary" asp-controller="account" asp-action="register">
            Cadastrar
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-primary" asp-controller="account" asp-action="login">
            Login
        </a>
    </li>
}