@model Tuple<Reply, string>

@*
    Item1 = reply
    Item2 = userName
*@

@{
    string limitedUserName = Model.Item2.Length > 20 ? Model.Item2.Substring(0, 20) + "..." : Model.Item2;
}

<div class="card border-1 border-primary bg-info bg-opacity-10 shadow-sm mb-2 ms-5">
    <div class="card-body">
        <div class="d-flex">
            <div class="align-self-start">
                <img src="~/images/profilePicture/@Model.Item1.ProfilePicturePath" class="img-fixed-size-low me-3" />
            </div>
            <div>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="card-title me-2 mb-0 px-1">
                        <strong>@limitedUserName</strong>
                        <p class="card-title text-muted mb-0">@Model.Item1.Date.ToString("dd/MM/yyyy HH:mm")</p>
                    </div>
                </div>
                <p class="card-text mt-2 px-1">@Model.Item1.Text</p>
            </div>
        </div>
    </div>
</div>