@using Microsoft.AspNetCore.Identity
@model IdentityUser

<div class="container">
    <div class="row justify-content-center align-items-center text-center">
        <div class="col-md-12">
            <h1 class="mt-5 mb-4">Perfil</h1>
            <div class="card bg-primary text-white">
                <div class="card-body">
                    <div class="card-text">
                        <h4>Username: <b>@Model.UserName</b></h4>
                    </div>
                </div>
            </div>
            <form asp-action="EditAccount" asp-route-id="@Model.Id" method="post" class="mt-4">
                <label for="newUserName" class="mb-3">Novo Username:</label>
                <div class="form-group d-flex justify-content-center align-items-center">
                    <input type="text" id="newUserName" name="newUserName" class="form-control" style="max-width: 18rem;" />
                </div>
                <button type="submit" class="btn btn-lg btn-primary mt-3">Salvar</button>
            </form>
        </div>
    </div>
</div>
