@model int

<i class="fa-solid fa-bell">
    @if (Model > 0)
    {
        <span class="top-0 start-100 translate-middle badge bg-danger rounded-pill">@Model</span>
    }
</i>
<div class="ms-2">Notificações</div>