@using PressTheButton.Enums
@using PressTheButton.ViewModels
@model List<NotificationViewModel>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center mt-5 mb-5">Notificações</h1>

            @{
                bool hasNewNotifications = Model.Any(n => n.IsNew);
                bool isNewNotificationFound = false;
            }

            @foreach(NotificationViewModel notification in Model)
            {
                if (hasNewNotifications && !isNewNotificationFound && !notification.IsNew)
                {
                    <hr class="bg-primary" style="margin-top: 30px; margin-bottom: 30px;" />
                    isNewNotificationFound = true;
                }

                if(notification.Notification.Type == CommentReplyOrRating.Comment)
                {
                    @await Html.PartialAsync("_NotificationComment", notification);
                }
                else if (notification.Notification.Type == CommentReplyOrRating.Reply)
                {
                    @await Html.PartialAsync("_NotificationReply", notification);
                }
                else if (notification.Notification.Type == CommentReplyOrRating.Rating)
                {
                    @await Html.PartialAsync("_NotificationRating", notification);
                }
            }
        </div>
    </div>
</div>